<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Admin Login</title>
    <link rel="stylesheet" href="/main.css">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md">
    <div class="container-xl">
        <a href="/" class="navbar-brand">
            <span class="fw-bold text-secondary" th:text="${navHeader}">HeritageHub</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center align-center" id="navbarNav">
            <ul class="navbar-nav nav-tabs mr-auto ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" th:text="${navHome}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category/historical}" th:text="${navHistorical}">Historical</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category/cultural}" th:text="${navCultural}">Cultural</a>
                </li>

                <!-- Hidden "Contact" item for smaller screens -->
                <li class="nav-item d-md-none" id="contactNavItem" style="display: none;">
                    <a class="nav-link" href="/about-us" th:text="${navAboutUs}">About us</a>
                </li>
                <li class="nav-item">
                    <div class="container mt-2 no-margin">
                        <div class="row justify-content-start">
                            <div class="col-auto">
                                <div class="d-flex align-items-center">
                                    <a href="/mk" class="btn btn-sm btn-danger me-2">MK</a>
                                    <span class="text-muted">|</span>
                                    <a href="/en" class="btn btn-sm btn-primary ms-2">EN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item d-md-none" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="btn btn-secondary mt-2" th:text="${navLogIn}" >Log In</a>
                </li>
                <li class="nav-item d-md-none" sec:authorize="isAuthenticated()">
                    <a href="/logout" class="btn btn-secondary mt-2" th:text="${navLogOut}" >Log Out</a>
                </li>
            </ul>
        </div>
        <!-- "Contact" button for larger screens -->
        <button sec:authorize="hasRole('ROLE_USER')" type="button" class="btn" data-toggle="tooltip" data-placement="bottom" th:title="${navTooltip}">
            <i class="bi bi-exclamation-circle-fill text-danger"></i>
        </button>
        <a href="/about-us" class="btn btn-primary d-none d-md-block" id="contactButton" th:text="${navAboutUs}" style="margin-right: 0.7em;">About us</a>
        <a href="/login" class="btn btn-secondary ml-2 d-none d-md-block" id="loginButton" th:text="${navLogIn}" sec:authorize="!isAuthenticated()">Log In</a>
        <a href="/logout" class="btn btn-secondary ml-2 d-none d-md-block" id="logoutButton" th:text="${navLogOut}" sec:authorize="isAuthenticated()">Log Out</a>
    </div>
</nav>

<!-- Error message displayed conditionally -->
<div th:if="${param.error}" class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
    <span >Invalid username and password.</span>
</div>
<form method="post" action="/login" class="container mt-4">

    <!-- Username and Password input fields -->
    <div class="mb-3">
        <label for="username" class="form-label" th:text="${bodyUsername}">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label"  th:text="${bodyPassword}">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <!-- Login button -->
    <button type="submit" class="btn btn-primary" th:text="${bodyLogIn}">Log in</button>
    <a href="/register" class="btn btn-secondary" th:text="${bodyRegister}">Register</a>
</form>


<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            <a class="btn btn-primary" th:text="${backButton}" href="/back">Back</a>
        </div>
    </div>
</div>
<script>
</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/visibilityToggle.js"></script>
</body>
</html>