<!DOCTYPE html>
<html lang="mk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>За нас</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/main.css">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        #map {
            height: 450px;
            width: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md">
    <div class="container-xl">
        <a href="/" class="navbar-brand">
            <span class="fw-bold text-secondary">HeritageHub</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center align-center" id="navbarNav">
            <ul class="navbar-nav nav-tabs mr-auto ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/mk">Почетна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mk/category/historical}">Историски</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mk/category/cultural}">Културни</a>
                </li>
                <li class="nav-item">
                    <span style="font-size: smaller;">
                        <a href="#" style="color: red;">MK</a>
                        <a href="/about-us" style="color: blue;">EN</a>
                    </span>
                </li>
                <!-- Hidden "Contact" item for smaller screens -->
                <li class="nav-item d-md-none" id="contactNavItem" style="display: none;">
                    <a class="nav-link" href="/mk/about-us">За нас</a>
                </li>
            </ul>
        </div>
        <!-- "Contact" button for larger screens -->
        <a href="/mk/about-us" class="btn btn-secondary active d-none d-md-block" id="contactButton">За нас</a>
    </div>
</nav>

<div class="container mt-2">
    <h2 class="display-6">За нас</h2>
    <p>HeritageHub е апликација која ви помага да најдете Историски и Културни споменици низ цела Македонија. Оваа апликација беше развиена од тим од пет студенти како дел од нивниот курс за Дизајн и Архитектура на Софтвер на Факултетот за Компјутерски Науки и Инженерство во Скопје.</p>


    <h4>Членови на тимот:</h4>
    <ul class="list-group">
        <li class="list-group-item">Стефан Василев - 211021</li>
        <li class="list-group-item">Андреј Генчовски - 211229</li>
        <li class="list-group-item">Изабела Ефтимова - 211038</li>
        <li class="list-group-item">Александар Сандев - 211213</li>
        <li class="list-group-item">Исидора Бошкова - 211203</li>
    </ul>

    <h4>Ментори:</h4>
    <ul class="list-group">
        <li class="list-group-item">проф. д-р Љупчо Антовски</li>
        <li class="list-group-item">проф. д-р Петре Ламески</li>
    </ul>
</div>
<div class="container mt-4">
    <h4>Контакт</h4>
    <div class="card">
        <div class="card-body">
            <p class="card-text"><i class="bi bi-envelope"></i> Емаил: <a href="mailto:heritagehubmacedonia@gmail.com">heritagehubmacedonia@gmail.com</a></p>
        </div>
    </div>
</div>


<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/visibilityToggle.js"></script>
</body>
</html>
