<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Monument</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/main.css">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md">
    <div class="container-xl">
        <a href="/mk" class="navbar-brand">
            <span class="fw-bold text-secondary">HeritageHub</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center align-center" id="navbarNav">
            <ul class="navbar-nav nav-tabs mr-auto ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/mk">Почетна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mk/category/historical}">Историски</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mk/category/cultural}">Културни</a>
                </li>
                <li class="nav-item">
                    <span style="font-size: smaller;">
                        <a href="#" style="color: red;">MK</a>
                        <a th:href="@{/edit/{id}(id=${monument.id})}" style="color: blue;">EN</a>
                    </span>
                </li>
                <!-- Hidden "Contact" item for smaller screens -->
                <li class="nav-item d-md-none" id="contactNavItem" style="display: none;">
                    <a class="nav-link" href="/mk/about-us">За нас</a>
                </li>
            </ul>
        </div>
        <!-- "Contact" button for larger screens -->
        <a href="/mk/about-us" class="btn btn-secondary d-none d-md-block" id="contactButton">За нас</a>
    </div>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div th:if="${hasError == null or !hasError}" class="card">
                <h1 class="card-header text-center">Измени споменик</h1>
                <div class="card-body">
                    <form method="post" action="/mk/editMonument" th:object="${monument}">
                        <div class="mb-3">
                            <label for="latitude" class="form-label">Географска ширина:</label>
                            <input type="number" step="any" id="latitude" name="latitude" required th:field="*{latitude}" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="longitude" class="form-label">Географска должина:</label>
                            <input type="number" step="any" id="longitude" name="longitude" required th:field="*{longitude}" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="name" class="form-label">Име:</label>
                            <input type="text" id="name" name="name" required th:field="*{name}" class="form-control">
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" id="historic" name="historic" th:checked="*{historic}" class="form-check-input">
                            <label for="historic" class="form-check-label">Историски</label>
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" id="cultural" name="cultural" th:checked="*{cultural}" class="form-check-input">
                            <label for="cultural" class="form-check-label">Културни</label>
                        </div>

                        <div class="mb-3">
                            <label for="city" class="form-label">Град:</label>
                            <input type="text" id="city" name="city" required th:field="*{city}" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="rating" class="form-label">Оцена (0-5):</label>
                            <input type="number" step="0.1" id="rating" name="rating" min="0" max="5" th:field="*{rating}" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="numRatings" class="form-label">Број на оцени:</label>
                            <input type="number" id="numRatings" name="numRatings" min="0" th:field="*{numRatings}" class="form-control">
                        </div>

                        <input type="hidden" id="monumentId" name="monumentId" th:value="*{id}">

                        <input type="submit" value="Измени" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div th:if="${hasError != null and hasError}" class="alert alert-danger" role="alert">
                <p th:text="${error}" class="mb-0"></p>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            <button class="btn btn-primary" onclick="goBack()">Назад</button>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/visibilityToggle.js"></script>
</body>
</html>
