<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Admin Login</title>
    <link rel="stylesheet" href="/main.css">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md">
    <div class="container-xl">
        <a href="/" class="navbar-brand">
            <span class="fw-bold text-secondary" th:text="${navHeader}">HeritageHub</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center align-center" id="navbarNav">
            <ul class="navbar-nav nav-tabs mr-auto ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" th:text="${navHome}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category/historical}" th:text="${navHistorical}">Historical</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category/cultural}" th:text="${navCultural}">Cultural</a>
                </li>
                <li class="nav-item">
                    <span style="font-size: smaller;">
                        <a href="/mk" style="color: red;">MK</a>
                        <a href="/en" style="color: blue;">EN</a>
                    </span>
                </li>
                <!-- Hidden "Contact" item for smaller screens -->
                <li class="nav-item d-md-none" id="contactNavItem" style="display: none;">
                    <a class="nav-link" href="/about-us" th:text="${navAboutUs}">About us</a>
                </li>
                <li class="nav-item d-md-none">
                    <a href="/logout" class="btn btn-secondary" th:text="${navLogOut}" sec:authorize="isAuthenticated()">Log Out</a>
                </li>
            </ul>
        </div>
        <!-- "Contact" button for larger screens -->
        <a href="/about-us" class="btn btn-secondary d-none d-md-block" id="contactButton" th:text="${navAboutUs}">About us</a>
        <a href="/login" class="btn btn-secondary d-none d-md-block" id="loginButton" th:text="${navLogIn}" sec:authorize="!isAuthenticated()">Log In</a>
        <a href="/logout" class="btn btn-secondary d-none d-md-block" id="logoutButton" th:text="${navLogOut}" sec:authorize="isAuthenticated()">Log Out</a>
    </div>
</nav>

<!-- Error message displayed conditionally -->
<div th:if="${hasError}" class="alert alert-danger" role="alert">
    <span th:text="${error}"></span>
</div>
<form method="post" action="/login" class="container mt-4">

    <!-- Username and Password input fields -->
    <div class="mb-3">
        <label for="username" class="form-label" th:text="${bodyUsername}">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label"  th:text="${bodyPassword}">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>

    <!-- Login button -->
    <button type="submit" class="btn btn-primary" th:text="${bodyLogIn}">Log in</button>
    <a href="/register" class="btn btn-secondary" th:text="${bodyRegisterLink}">Register</a>
</form>


<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            <button class="btn btn-primary" th:text="${backButton}" onclick="goBack()" >Back</button>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/visibilityToggle.js"></script>
</body>
</html>