<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/main.css">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md">
    <div class="container-xl">
        <a href="/mk" class="navbar-brand">
            <span class="fw-bold text-secondary">HeritageHub</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center align-center" id="navbarNav">
            <ul class="navbar-nav nav-tabs mr-auto ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/mk">Почетна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mk/category/historical}">Историски</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/mk/category/cultural}">Културни</a>
                </li>
                <li class="nav-item">
                    <span style="font-size: smaller;">
                        <a href="#" style="color: red;">MK</a>
                        <a th:href="@{/login/{id}(id=${id})}" style="color: blue;">EN</a>
                    </span>
                </li>
                <!-- Hidden "Contact" item for smaller screens -->
                <li class="nav-item d-md-none" id="contactNavItem" style="display: none;">
                    <a class="nav-link" href="/mk/about-us">За нас</a>
                </li>
            </ul>
        </div>
        <!-- "Contact" button for larger screens -->
        <a href="/mk/about-us" class="btn btn-secondary d-none d-md-block" id="contactButton">За нас</a>
    </div>
</nav>

<!-- Error message displayed conditionally -->
<div th:if="${hasError}" class="alert alert-danger" role="alert">
    <span th:text="${error}"></span>
</div>
<form method="post" action="/mk/login" class="container mt-4">
    <!-- Hidden field to pass the 'id' attribute from the model -->
    <input type="hidden" id="id" name="id" th:value="${id}">

    <!-- Username and Password input fields -->
    <div class="mb-3">
        <label for="username" class="form-label">Корисничко име:</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Лозинка:</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <!-- Login button -->
    <button type="submit" class="btn btn-primary">Логирај се</button>
</form>


<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-sm-6 text-center">
            <button class="btn btn-primary" onclick="goBack()">Назад</button>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/visibilityToggle.js"></script>
</body>
</html>